<h1>
  <%= @blog_post.title %>
</h1>
<%= @blog_post.content %>
<div class="flex flex-cols space-x-2 my-4 justify-end">
  <%= link_to "Back to home", blog_posts_path, class: "blog-button-secondary" %>
  <%= link_to "Edit post", edit_blog_post_path(@blog_post), class: "blog-button" if user_signed_in? %>
</div>
